<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.naveenautomation.utils.CustomListener" />
		<listener
			class-name="com.naveenautomation.utils.TransformerForRetry" />
		<listener
			class-name="com.naveenautomation.utils.ExtentReportListener" />
			
	</listeners>
	<test thread-count="6" name="Test">
		<classes>
			<class name="com.naveenautomation.pageTests.HomePageTest" />
			<class name="com.naveenautomation.pageTests.ForgetPasswordTest" />
			<class name="com.naveenautomation.pageTests.LoginPageTest" />
			<class name="com.naveenautomation.pageTests.AccountPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
